
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-groceries-primary: mat-palette($app-blue);
$ng-groceries-accent: mat-palette($app-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-groceries-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-groceries-theme: mat-light-theme((
  color: (
    primary: $ng-groceries-primary,
    accent: $ng-groceries-accent,
    warn: $ng-groceries-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-groceries-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* General App styles */
* {box-sizing: border-box;}

.mat-fab.add-items .mat-icon svg{ fill: white}

.overlay {width: 100vw; height: 100vh; background-color: rgba(0,0,0,.2); position: fixed; top: 0; left: 0;}

.mat-list-base .mat-list-item .mat-list-text,
.mat-list-base .mat-list-option .mat-list-text { flex-direction: row!important; justify-content: space-between;}
.mat-list-text span { display: flex; flex-direction: column; align-items: flex-end;}
.mat-list-text span p { margin-bottom: 0;}
.mat-list-text span label { font-size: 10px; line-height: 16px; border-radius: 16px; padding: 2px 10px; margin-bottom: 6px;}
.in-progress { background-color: #ECFAC3; }
.done { background-color: #ABE2F5; }

.mat-selection-list.mat-list-base .mat-list-item, .mat-selection-list.mat-list-base .mat-list-option { height: 70px; align-items: center; border-bottom: 1px solid rgba(0,0,0,0.12)}
.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {align-items: center;}

/* Style for Product Select Dropdown */
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option { height: auto!important}
span.mat-option-text { display: flex; }
span.mat-option-text img { margin: 0 10px 0 0; }

/**/
.safe-scroll {
  padding-bottom: 10vh;
  border-radius: 16px;
  padding: 30px 15px 10vh 15px;
  position: relative;
  top: -3%;
  background-color: white;
}

// .mat-icon-no-color {
//   color: white;
// }
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
// .mat-icon-no-color svg {
//   fill: white;
// }

.mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse {
  transition: transform ease-in .2s;
}
